main {
  display: flex;
  width: 100%;

  justify-content: center;
  box-sizing: border-box;
}

.card{

  display: flex;
  flex-direction: column;
}

small {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;


}

h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

}
p {
  width: 505px;
  line-height: 27px;

}
.contactus {
  margin: 135px 0 0 135px;
  gap: 40px;
}
.icon {
  width: 70px;
  height: 70px;
}
.contactus-info {
  display: flex;

}

.message-container {
  position: relative;
  margin:93px 85px 0 109px;
}
.figure {
  width: 105.67px;
  height: 133.67px;
  position: absolute;
  z-index: 50;
}

#top-figure {
  top: 117px;
right: 0;
}
#bottom-figure {
bottom: 0;}

.oval-figure {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  z-index: 50;

}

form {
position: relative;
  border-width: 0;
  border-radius: 8px;
  width: 470px;
  height: 530px;
  box-shadow: 0px 4px rgba(0, 0, 0, .07);
  margin: 54px 37.33px 18.33px 17.67px;
  z-index: 100;
}