

/*HEADER DESIGN*/
header {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   flex-direction: column;
   margin-bottom: 80px;
   margin-top: 60px;
 }
 
 
 .typography-headline-small {
   height: 24px;
   font-weight: 600;
   font-size: 18px;
   line-height: 24px;
   text-align: center;
   display: block;
   text-transform: capitalize;
 }
 
 .typography-headline {
   font-size: 40px;
   font-weight: 700;
   line-height: 45px;
   text-align: center;
   text-transform: capitalize;
   display: block;
   margin-top: 8px;
 }
 
 p {
   padding: 12px 0 29px 0;
 }
 
 .headline-description-wrapper {
   height: 59px;
   display: block;
   margin-top: 15px;
 }
 
 .headline-description {
   font-size: 15px;
   line-height: 25px;
   text-align: center;
 
   width: 480px;
   display: flex;
   justify-content: center;
 }


.comparition-container-detail > p {
  line-height: 28px;
}

.headline-description-wrapper {
   height: 59px;
   display: block;
   margin-top: 15px;
}

.headline-description {
   font-size: 15px;
   line-height: 25px;
   text-align: center;
   
   width: 480px;
   display: flex;
   justify-content: center;
}

.comparition-container {
   justify-content: center;
   width: 100%;
   display: flex;
   gap: 30px;
}

article {
   width: 370px;
}

time {
   margin-top: 30px;
   border-radius: 5px;
   font-weight: 600;
   line-height: 24px;
   font-size: 12px;
   letter-spacing: 0.5px;
   padding: 4px 17px;
   display:inline-block;
}

.comparition-container-detail {
   position: relative;
   margin-top: 22px;
   margin-bottom: 15px;
   width: 370px;
   height: 56px;
}


